
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Lobster|Pacifico');
.hLogoText{
  font-family: 'Pacifico', cursive;
  margin:0% 0% 0% 0%;
  text-align: center;
}
body{
   font-family: 'Rochester', cursive;
   background-color:#fff;
}
.logoPlaceHolder{
    display:none;
  }
footer{
    margin:2% 0% 0% 0%;
    background-color:#005;
    background-image: radial-gradient(ellipse farthest-corner at 245px 45px , #f00 10%, rgba(0, 0, 0, 0.8) 50%, #808 95%);
    color:#FFC;
  }

/* Small devices (smartphones) */
@media (max-width: 600px) {
    body{
         margin:5px;
         padding:2px;
         border:5px solid #000;
         font-size:1.5em;
    }
    .hLogoText{
      font-size: 2.5em;
    }
    .imgHaileab{
      border-radius:20%;
      width:300px; height:200px;
      margin:0% 15% 0% 2%;display:block;
    }
}

/* Small devices (tablets) */
@media (min-width: 600px) {
 body{
        margin:15px 5px;
        padding:5px;
        border:10px solid #055;
        font-size:2em;
}
.hLogoText{
    font-size: 4em;
  }
  .imgHaileab{
    border-radius:50%;
    margin:2% 1% 8% 0%;
    width:300px; height:300px;
  }

}
/* Medium devices (desktops) */
@media (min-width: 850px) {
     body{
        margin:5px 4px;
        padding:5px 50px;
        border:10px solid #006a99;
        font-size:2.2em;
  }
  .mainContainer{
   background: url("https://haileababrha.files.wordpress.com/2015/09/img_0750.jpg") left top no-repeat, url("https://haileababrha.files.wordpress.com/2017/03/bkwhite.jpg") left top repeat;
   background-size: 100% 5%;
  }
  .hLogoText{
    font-size: 3em;
  }
  .imgHaileab{
    border-radius:50%;
    width:400px; height:400px;
    /*border:20px double #1D2731;*/
    margin:0% 2% 0% 4%;
  }

}
